/* Default styles for mobile first approach (767px and below) */
body {
    background-color: white;
    font-size: 14px;
}

h1{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.card {
    position: relative;
    padding: 30px;
    border: 2px solid #333;
    margin: 10px ;
    background-color: rgb(211, 210, 210);
    box-shadow: 2px 2px 5px black;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

.cardTitle {
    position: absolute;
    top: 0px; 
    right: 0px;
    width: 120px; 
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #333;
    text-align: center; 
    white-space: nowrap; 
    overflow: hidden; 
}

.Chicken {
    background-color: pink;
}
.Beef {
    background-color: rgb(200, 76, 76);
    color: white;
    
    
}
.Sushi {
    background-color: yellow;
}

/* Mobile view is set by default  */

/* Tablet view  */
@media (min-width: 768px) and (max-width: 991px) {
    .card:nth-child(1n+0) {
        display: inline-block;
        width: calc(50% - 22px);
    }
    .card:nth-child(3n+0) {
        width:auto;
    }
}  

/* Desktop view  */
@media (min-width: 992px) {
    .card {
        width: 30vw;
        display: inline-block;
    }
}
